section.aboutService__layout
  .block-flag-header
    p.block-flag-header__title.first-letter_yellow 
      | Осуществляем ремонт и диагностику
      br
      |  автомобилей разных марок!
  .width-container
    .about-service__description
      h2.about-service__title.block-title О сервисе
      p.about-service__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. Ac et et massa commodo pretium, lobortis. Et tristique quam morbi eleifend gravida ut vestibulum. Ante dolor viverra laoreet justo, senectus sed morbi quisque. Amet, tortor at facilisi lobortis nulla. Nibh ullamcorper velit feugiat purus elit. Vitae, elementum interdum tempus, tempus, amet venenatis.
      p.about-service__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. Ac et et massa commodo pretium, lobortis. Et tristique quam morbi eleifend gravida ut vestibulum. Ante dolor viverra laoreet justo, senectus sed morbi quisque. Amet, tortor at facilisi lobortis nulla. Nibh ullamcorper velit feugiat purus elit. Vitae, elementum interdum tempus, tempus, amet venenatis.
  img(src="static/img/engine.png", alt="Изображение двигателя").about-service__img