section.aboutService__layout
  .block-flag-header
    h2.block-flag-header__title.first-letter_yellow=mainPageContent.title
  .width-container
    .about-service__description
      h2.about-service__title.block-title=mainPageContent.subtitle
      article!=mainPageContent.serviceDescription
  img(src="static/img/engine.png", alt="Изображение двигателя").about-service__img