.branch-office_layout 
  .description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. Ac et et massa commodo pretium, lobortis. Et tristique quam morbi eleifend gravida ut vestibulum. Ante dolor viverra laoreet justo, senectus sed morbi quisque. Amet, tortor at facilisi lobortis nulla. Nibh ullamcorper velit feugiat purus elit. Vitae, elementum interdum tempus, tempus, amet venenatis.
  .contact-and-location
    .address ул.Правды, 28
    .phones
      .federal-number
        img(src="static/img/phone.svg", alt="Phone Icon")
        span 67-07-99
      .email mail@ptzmaster.ru
      .messengers-section
        include ./messengers
        span +79658175887
  .map
    <a class="dg-widget-link" href="http://2gis.ru/petrozavodsk/firm/70000001041649341/center/34.38637018203736,61.77988116219204/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Петрозаводска</a><div class="dg-widget-link"><a href="http://2gis.ru/petrozavodsk/firm/70000001041649341/photos/70000001041649341/center/34.38637018203736,61.77988116219204/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ru/petrozavodsk/center/34.386364,61.778494/zoom/16/routeTab/rsType/bus/to/34.386364,61.778494╎Master, автосервис?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Master, автосервис</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":'100%', "height":400,"borderColor":"#a3a3a3","pos":{"lat":61.77988116219204,"lon":34.38637018203736,"zoom":16},"opt":{"city":"petrozavodsk"},"org":[{"id":"70000001041649341"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>