.branch-office_layout 
  .contact-and-location
    .address ул.Правды, 28
    .phones
      .federal-number
        img(src="static/img/phone.svg", alt="Phone Icon")
        span 67-07-99
      .email mail@ptzmaster.ru
      .messengers-section
        include ./messengers
        span +79658175887
  .description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. Ac et et massa commodo pretium, lobortis. Et tristique quam morbi eleifend gravida ut vestibulum. Ante dolor viverra laoreet justo, senectus sed morbi quisque. Amet, tortor at facilisi lobortis nulla. Nibh ullamcorper velit feugiat purus elit. Vitae, elementum interdum tempus, tempus, amet venenatis.
  .image
    img(src="static/img/branchOffice.png", alt="Branch office image")