.width-container.common-info__layout
  h2.title Станция технического обслуживания легковых автомобилей
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae pretium pretium interdum blandit. Mattis nisl viverra sed ac, sagittis nullam hac. Sagittis, aliquam sed eget hac nulla. Pellentesque adipiscing pulvinar condimentum tristique senectus aliquam non pellentesque.
  .infoRow
    div.yellow-layout
      div
        p.yellow-layout__text
          | Услуги станции
          br
          | технического
          br
          | обслуживания
        p.yellow-layout__title МАСТЕР
    div
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus, quam interdum elit quis ligula auctor at est. Facilisis facilisis venenatis in cursus platea enim eu. Aliquet integer nibh arcu ullamcorper senectus. Faucibus morbi nullam adipiscing potenti varius. Posuere maecenas congue turpis nisi, gravida id quam arcu.