section
  .width-container.common-info__layout
    .common-info__block
      img(src="/static/img/half_car_gray.svg", alt="")
      span 
        | Множество запчастей 
        br 
        | и расходников
        br
        | в наличии
    .common-info__block
      img(src="/static/img/list.svg", alt="")
      span 
        | Широкий 
        br 
        | спектр работ
    .common-info__block
      img(src="/static/img/shield.svg", alt="")
      span 
        | Гарантия 
        br 
        | на все виды работ
        br
        | и запчастей
    .common-info__bg