.contacts-block
  .main-title Напишите нам
  .messenger-apps
    img(src="static/img/telegram.svg", alt="Open telegram app")
    img(src="static/img/viber.svg", alt="Open viber app")
    img(src="static/img/whatsapp.svg", alt="Open whatsapp app")
    img(src="static/img/email.svg", alt="Open email app")
    img(src="static/img/phoneApp.svg", alt="Open phone app")