section.CTA__layout
  .width-container.CTA__content
    .CTA__info-wrapper
      .sub-title.first-letter_yellow Задайте вопрос или закажите запчасть через мессенджеры
      .branch-office__info__messengers__wrapper
        img(src="/static/img/whatsapp.svg", alt="Вацап" onclick='showPopup("whatsapp")').social-icon
        img(src="/static/img/viber.svg", alt="Вайбер" onclick='showPopup("viber")').social-icon
        img(src="/static/img/telegram.svg", alt="Телеграм" onclick='showPopup("telegram")').social-icon    
    img(src="/static/img/all_parts_CTA.png", alt="Изображение разных запчастей").CTA__img

  