section.discount_layout(style='background-image: url("static/img/DiscountGag.png")')
  .width-container.discount__info-wrapper
    .discount__slogan
      h1 СТО Мастер
      p 
        | Мультибрендовый
        br
        | автосервиc
        br
        | в Петрозаводске
    .discount__info
      h3 Акция
      p Скидка 20% на любую мойку