section.ant-carousel#discount
  .ant-carousel-hider
    ul.ant-carousel-list
      each promo in mappedPromos
        li.ant-carousel-element
          a(href="/discount").link
            img(src=promo.sliderImage, alt="Акция").ant-carousel-element__image
            .ant-carousel-element__text!=promo.titleForMain
  .ant-carousel-arrow-left
  .ant-carousel-arrow-right
  .ant-carousel-dots
