section.discount_layout(style='background-image: url("static/img/discountGag.png")')
  .width-container.discount__info-wrapper
    .discount__slogan
      .discount__slogan__content
        h1 СТО Мастер
        p 
          | Мультибрендовый
          br
          | автосервиc
          br
          | в Петрозаводске
    .discount__info
      h3 Акция
      p Скидка 20% на любую мойку