if reviews.length
  section.width-container.feedback-section__layout
    h2.feedback-section__title.block-title.first-letter_yellow Отзывы наших клиентов
    .ant-carousel#feedback
      .ant-carousel-hider
        ul.ant-carousel-list
          each review in reviews
            li.ant-carousel-element
              .feedback-section__item
                img(src=review.image, alt="Аватар пользователя").feedback__avatar
                p.feedback__text
                  span.client__name=review.fullName
                  br
                  span.client__text=review.text
      .ant-carousel-arrow-left
      .ant-carousel-arrow-right
      .ant-carousel-dots