section.width-container.feedback-section__layout
  h2.feedback-section__title.block-title.first-letter_yellow Отзывы наших клиентов
  .ant-carousel#feedback
    .ant-carousel-hider
      ul.ant-carousel-list
        li.ant-carousel-element
          .feedback-section__item
            img(src="static/img/serviceItem.svg", alt="").feedback__avatar
            p.feedback__text
              span.client__name Благодарный клиент
              br
              span.client__text Очень хвалебный отзыв
        li.ant-carousel-element
          .feedback-section__item
            img(src="static/img/serviceItem.svg", alt="").feedback__avatar
            p.feedback__text
              span.client__name Благодарный клиент
              br
              span.client__text Очень хвалебный отзыв
        li.ant-carousel-element
          .feedback-section__item
            img(src="static/img/serviceItem.svg", alt="").feedback__avatar
            p.feedback__text
              span.client__name Благодарный клиент
              br
              span.client__text Очень хвалебный отзыв
    .ant-carousel-arrow-left
    .ant-carousel-arrow-right
    .ant-carousel-dots
