footer
  .width-container.footer__layout
    div
      img(src="static/img/blackLogo.svg", alt="Black logo")
    .footer_contacts
      .messengers
        img(src="static/img/telegram.svg", alt="Telegram icon")
        img(src="static/img/viber.svg", alt="Telegram icon")
        img(src="static/img/whatsapp.svg", alt="Telegram icon")
      .branch-office
        span.address ул.Правды, 28
        span.phone 67-07-99
      .branch-office
        span.address Ветеринарный, 13а
        span.phone 67-08-67
