footer
  .width-container.footer__layout
    img(src="static/img/white_logo.svg", alt="Логотип").footer__logo
    p.footer__text Мы в соц.сетях:
    .mobile-messengers
      a(href='#')
        img(src="static/img/vk_transparent.svg", alt="ВКонтакте")
      a(href='#')
        img(src="static/img/instagram_transparent.svg", alt="ВКонтакте")
    include ./messengers