footer
  .width-container.footer__layout
    img(src="static/img/white_logo.svg", alt="Логотип").footer__logo
    p.footer__text Мы в соц.сетях:
    .mobile-messengers
      a(href='https://vk.com/ptz_auto' target="_blank")
        img(src="static/img/vk_transparent.svg", alt="ВКонтакте")
      a(href='https://www.instagram.com/ptzmaster/' target="_blank")
        img(src="static/img/instagram_transparent.svg", alt="Инстаграм")
    .messengers
      a(href="https://vk.com/ptz_auto" target="_blank")
        img(src="static/img/vk_transparent.svg", alt="ВКонтакте").social-icon
      a(href="https://www.instagram.com/ptzmaster/" target="_blank") 
        img(src="static/img/instagram_transparent.svg", alt="Инстаграм").social-icon
      img(src="static/img/whatsapp_transparent.svg", alt="Вацап" onclick='showPopup("whatsapp")').social-icon
      img(src="static/img/viber_transparent.svg", alt="Вайбер" onclick='showPopup("viber")').social-icon
      img(src="static/img/telegram_transparent.svg", alt="Телеграм" onclick='showPopup("telegram")').social-icon