header
  .header-info
    .width-container.header__main-info
      .header__contact-block
        .header__contact-block__phone 67-08-67
        .header__contact-block__address Ветеринарный, 13а

      img.header__contact-block(
        src='static/img/MainLogo.svg' 
        alt="Логотип Мастер-сервис"
      )

      .header__contact-block
        .header__contact-block__phone 67-07-99
        .header__contact-block__address Правды, 28
nav
  .width-container
    ul.navbar__layout
      li.navbar__item Главная
      li.navbar__item Услуги
      li.navbar__item Запчасти
      li.navbar__item Юр.лицам
      li.navbar__item Контакты
