header
  .desktop-header-info
    .width-container.header__main-info
      .header__contact-block
        .phone 67-08-67
        .address Ветеринарный, 13а
      a(href='/')
        img.header__contact-block(
          src='static/img/mainLogo.svg' 
          alt="Логотип Мастер-сервис"
        )
      .header__contact-block
        .phone 67-07-99
        .address Правды, 28
        
  .mobile-header-info
    a(href='/')
      img(
        src='static/img/mainLogo.svg' 
        alt="Логотип Мастер-сервис"
      )
    div.contacts
      div
        .phone 
          a(href='tel:88142670867') 67-08-67
        .address Ветеринарный, 13а
      div
        .phone 
          a(href='tel:88142670799') 67-07-99
        .address Правды, 28
  nav
    .width-container.desktop-menu
      ul.desktop-navbar__layout
        li.desktop-navbar__item
          a(href='/') Главная
        li.desktop-navbar__item.desktop-navbar__item-dropdown
          span Услуги
          .services
            ul
              li 
                a(href='/service') Диагностика электронных блоков
              li 
                a(href='/service') Ремонт двигателя
              li 
                a(href='/service') Мойка автомобиля
              li 
                a(href='/service') Химчистка салона
              li 
                a(href='/service') Полировка кузова
              li 
                a(href='/service') Заправка кондиционера
              li 
                a(href='/service') Развал-схождение
              li 
                a(href='/service') Диагностика и ремонт ходовой части
              li 
                a(href='/service') Техническое обслуживание автомобиля
              li 
                a(href='/service') Шиномонтаж
              li 
                a(href='/service') Установка фаркопа
              li 
                a(href='/service') Замена стекол
              li 
                a(href='/service') Замена масел
              li 
                a(href='/service') Замена ремня ГРМ
              li 
                a(href='/service') Ремонт тормозной системы
        li.desktop-navbar__item
          a(href='/car-parts') Запчасти
        li.desktop-navbar__item
          a(href='/corporate') Юр.лицам
        li.desktop-navbar__item
          a(href='/contacts') Контакты
    .width-container.mobile-menu
      .mobile-menu__layout
        span Меню
        img(src="static/img/hamburger.svg", alt="Кнопка вызова меню")#menu-toggler
      ul.mobile-navbar
        li
          a(href='/') Главная
        li
          span Услуги
        li
          a(href='/car-parts') Запчасти
        li
          a(href='/corporate') Юр.лицам
        li
          a(href='/contacts') Контакты
