section.info-divider__layout
  .width-container
    h3.info-divider__title Задайте вопрос, уточните стоимость или запишитесь на сервис через нашу группу ВКонтакте
    a.info-divider__button(href="/")
      img(src="static/img/vk_wo_bg.svg", alt="ВКонтакте").info-divider__button-logo
  img(src="static/img/wheels.png", alt="").info-divider__wheels