section.info-divider__layout
  .width-container
    h2.block-title.info-divider__title.first-letter_yellow Задайте вопрос, уточните стоимость или запишитесь на сервис через нашу группу ВКонтакте
    a.info-divider__button(href="https://vk.com/ptz_auto" target="_blank")
      img(src="static/img/vk_wo_bg.svg", alt="ВКонтакте").info-divider__button-logo
  img(src="static/img/wheels.png", alt="Изображение колес").info-divider__wheels