section.info-divider__layout
  .width-container
    h3.info-divider__title Осуществляем ремонт и диагностику автомобилей разных марок:
    p.info-divider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui donec diam fermentum sed sed praesent elit, libero odio. Rhoncus, elit tincidunt sapien nunc aliquam dignissim vulputate sed. Sit curabitur risus pulvinar commodo vestibulum metus. Sed viverra odio ac nunc, facilisis convallis consectetur neque nulla. Dui fermentum porta eu quis elit vitae.