.messengers
  img(src="static/img/vk_icon.svg", alt="ВКонтакте").social-icon
  img(src="static/img/instagram_icon.svg", alt="Инстаграм").social-icon
  img(src="static/img/whatsapp_icon.svg", alt="Вацап").social-icon
  img(src="static/img/viber_icon.svg", alt="Вайбер").social-icon
  img(src="static/img/telegram_icon.svg", alt="Телеграм").social-icon