.messengers
  a(href="https://vk.com/ptz_auto" target="_blank")
    img(src="static/img/vk_icon.svg", alt="ВКонтакте").social-icon
  a(href="https://www.instagram.com/ptzmaster/" target="_blank") 
    img(src="static/img/instagram_icon.svg", alt="Инстаграм").social-icon
  img(src="static/img/whatsapp_icon.svg", alt="Вацап" onclick='showPopup("whatsapp")').social-icon
  img(src="static/img/viber_icon.svg", alt="Вайбер" onclick='showPopup("viber")').social-icon
  img(src="static/img/telegram_icon.svg", alt="Телеграм" onclick='showPopup("telegram")').social-icon