section.width-container.services-section__layout
  h2.services-section__title.block-title.first-letter_yellow Услуги автосервиса
  div.services-section__items-wrapper
    each service in mappedServices
      include ./serviceItem