section.width-container.services-section__layout
  h1.services-section__title.block-title.first-letter_yellow Услуги автосервиса
  div.services-section__items-wrapper
    - for (let i = 0; i < 15; i++) 
      include ./serviceItem