html,
body,
#root {
  width: 100%;
  height: 100%;
}
.leaflet-container {
  width: 100%;
  height: 50vh;
  margin: 10px 0;
}
.leaflet-control-attribution {
  display: none;
}
.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}

.main-wrapper,
.login-wrapper,
.page-wrapper {
  height: 100%;
}
.main__layout {
  height: 100%;
}
.main__content {
  margin-top: 30px;
}
.spiner {
  position: absolute;
  top: 20vh;
  width: 100%;
}
.spiner_center {
  margin: 0px auto;
  position: unset;
  display: block;
}
.noContent {
  text-align: center;
}
.markdownTooltip {
  width: 600px;
  display: flex;
  padding: 10px;
}
.markdownTooltip pre {
  width: 300px;
}
.markdownTooltip > div {
  width: 300px;
}
.imageGalaryUpload {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.imageGalaryUpload__imageCover {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  background-color: white;
}
.imageGalaryUpload__imageCover:hover {
  opacity: 0.8;
}
.imageGalaryUpload__image {
  width: 200px;
  height: 200px;
  background-color: white;
  line-height: 200px;
}
.imageGalaryUpload__imageContainer {
  margin: 0 10px 10px 0;
  position: relative;
}
.imageGalaryUpload__deleteButton {
  position: absolute;
  top: 78px;
  left: 75px;
  text-align: center;
}
.imageGalaryUpload__deleteButton:hover {
  cursor: pointer;
}

/* ANTD styles */

.ant-upload-picture-card-wrapper > .ant-upload {
  width: 200px;
  height: 200px;
}
.ant-tooltip-inner {
  width: 600px;
  background-color: white;
  color: black;
}
