html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО, автосервис, Мастер, ремонт автомобилей, шиномонтаж')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  include ./modules/CTASection
  main
    .width-container
      .content-card__layout
        .content-card__content
          span Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi illum, pariatur molestiae eveniet voluptatibus, voluptate consequatur aut, sequi nisi sapiente veritatis officia possimus nam velit molestias dolores sunt. Illo!
          h1.car-parts__slogan 
            span.head Мастер сервис 
            span - сеть современных комплексов и бла бла бла
        .content-card__title
          .skew-flag_left
          img(src="static/img/half_car_gray.svg", alt="Иконка филиала запчастей")
          span.block-title Запчасти
            |
            br
            | на ул.Правды, 28
        .content-card__content    
          .branch-office__layout
            img(src="static/img/service_image.png", alt="").branch-office__img
            .branch-office__info
              .sub-title 67-07-99 / Правды, 28
              .divider 
              p.branch-office__info__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti saepe impedit voluptatum sapiente consequuntur at deserunt officiis quidem accusantium. Magni natus tenetur sit necessitatibus sapiente deleniti nisi accusamus! Ut, atque!
              .branch-office__info__messengers
                span.title Заказать автозапчасть
                .branch-office__info__messengers__wrapper
                  img(src="static/img/whatsapp_icon.svg", alt="Вацап").social-icon
                  img(src="static/img/viber_icon.svg", alt="Вайбер").social-icon
                  img(src="static/img/telegram_icon.svg", alt="Телеграм").social-icon
        .content-card__title.content-card__title_right
          .skew-flag_right
          img(src="static/img/half_car_yellow.svg", alt="Иконка филиала запчастей")
          span.block-title Запчасти
            |
            br
            | на ул.Правды, 28
        .content-card__content    
          .branch-office__layout
            img(src="static/img/service_image.png", alt="").branch-office__img
            .branch-office__info
              .sub-title 67-07-99 / Правды, 28
              .divider 
              p.branch-office__info__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti saepe impedit voluptatum sapiente consequuntur at deserunt officiis quidem accusantium. Magni natus tenetur sit necessitatibus sapiente deleniti nisi accusamus! Ut, atque!
              .branch-office__info__messengers
                span.title Заказать автозапчасть
                .branch-office__info__messengers__wrapper
                  img(src="static/img/whatsapp_icon.svg", alt="Вацап").social-icon
                  img(src="static/img/viber_icon.svg", alt="Вайбер").social-icon
                  img(src="static/img/telegram_icon.svg", alt="Телеграм").social-icon
    include ./modules/infoDividerSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/common.js')