html(lang="en")
head
  title Master
  meta(charset="utf-8")
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.width-container
    h1 Запчасти
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. 
      include ./modules/branchOfficeContacts
      include ./modules/branchOfficeContacts
  include ./modules/footer