html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО, автосервис, Мастер, ремонт автомобилей, шиномонтаж')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.contacts-page
    include ./modules/CTASection
    .width-container
      .content-card__layout
        .content-card__title
          .skew-flag_left
          img(src="static/img/note.svg", alt="Иконка услуги")
          h1.block-title Контактные данные
        .map 
          <a class="dg-widget-link" href="http://2gis.ru/petrozavodsk/profiles/11259528349819888,70000001041649341/center/34.341545104980476,61.7878958358873/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Петрозаводска</a><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":'100%',"height":'50%',"borderColor":"transparent","pos":{"lat":61.7878958358873,"lon":34.341545104980476,"zoom":13},"opt":{"city":"petrozavodsk"},"org":[{"id":"11259528349819888"},{"id":"70000001041649341"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
        .content-card__content
          .contacts
            img(src="static/img/medium_logo.svg", alt="Логотип Мастер-сервис")
            .contact__item
              .address г. Петрозаводск, ул. Правды, 28
              .phone 
                a(href='tel:88142670867') 8 (8142) 67-07-99
              .email 
                a(href='mailto:mail@ptzmaster.ru' target="_blank") mail@ptzmaster.ru
              .schedule Ежедневно: с 9.00 до 20.00
              .messengers
                img(src="static/img/vk_icon.svg", alt="ВКонтакте").social-icon
                img(src="static/img/instagram_icon.svg", alt="Инстаграм").social-icon
                img(src="static/img/whatsapp_icon.svg", alt="Вацап").social-icon
                img(src="static/img/viber_icon.svg", alt="Вайбер").social-icon
                img(src="static/img/telegram_icon.svg", alt="Телеграм").social-icon
            .contact__item
              .address г. Петрозаводск, ул. Правды, 28
              .phone 
                a(href='tel:88142670867') 8 (8142) 67-07-99
              .email 
                a(href='mailto:mail@ptzmaster.ru' target="_blank") mail@ptzmaster.ru
              .schedule Ежедневно: с 9.00 до 20.00
                .messengers
                  img(src="static/img/vk_icon.svg", alt="ВКонтакте").social-icon
                  img(src="static/img/instagram_icon.svg", alt="Инстаграм").social-icon
                  img(src="static/img/whatsapp_icon.svg", alt="Вацап").social-icon
                  img(src="static/img/viber_icon.svg", alt="Вайбер").social-icon
                  img(src="static/img/telegram_icon.svg", alt="Телеграм").social-icon
    include ./modules/infoDividerSection 
  include ./modules/footer
  script(src='static/scripts/common.js')