html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО, автосервис, Мастер, ремонт автомобилей, шиномонтаж')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.width-container
    h1.main-title Как нас найти
    include ./modules/branchOfficeLocation
    include ./modules/branchOfficeLocation
  include ./modules/footer
  script(src='static/scripts/common.js')