html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер". Условия для корпоративных клиентов')
  meta(name='keywords', content='СТО Мастер, автосервис, ремонт автомобилей, шиномонтаж, скидки, акции')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main
    include ./modules/CTASection
    .width-container
      .content-card__layout
        .content-card__title.content-card__title_left
          img(src="static/img/legal_entity.svg", alt="Иконка услуги")
          h1.block-title=corporateClients.title
        .content-card__content
          !=corporateClients.description
          .gallery
            each image in corporateClients.images
              .image__wrapper
                img(src=image.url, alt="Фото для галереи")
          !=corporateClients.info
    include ./modules/infoDividerSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/common.js')