html(lang="ru")
head
  title Master
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.width-container
    h1.main-title Акция
    .discount__image
      img(src="static/img/discount.png", alt="Discount image")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus, quam interdum elit quis ligula auctor at est. Facilisis facilisis venenatis in cursus platea enim eu. Aliquet integer nibh arcu ullamcorper senectus. Faucibus morbi nullam adipiscing potenti varius. Posuere maecenas congue turpis nisi, gravida id quam arcu.
  include ./modules/footer
  script(src='static/scripts/common.js')