html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО Мастер, автосервис, ремонт автомобилей, шиномонтаж, скидки, акции')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" type='text/css' integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main
    include ./modules/discountSection
    include ./modules/CTASection
    include ./modules/commonInfo
    include ./modules/servicesSection
    include ./modules/infoDividerSection
    include ./modules/feedbackSection
    include ./modules/aboutServiceSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/carousel.js')
  script(src='static/scripts/common.js')
  script.
    new Ant('discount');
    const reviews = '#{reviews}';
    if(reviews.length) {
      new Ant('feedback', 1, true);
    }