html(lang="ru")
head
  title Master
  meta(charset="utf-8")
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main
    include ./modules/discountSection
    include ./modules/commonInfo
    include ./modules/servicesSection
    include ./modules/infoDivider
    include ./modules/textDescription
  include ./modules/footer
  script(src='static/scripts/carousel.js')