html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО Мастер, автосервис, ремонт автомобилей, шиномонтаж, скидки, акции')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main
    include ./modules/discountSection
    include ./modules/CTASection
    include ./modules/commonInfo
    include ./modules/servicesSection
    include ./modules/infoDividerSection
    include ./modules/feedbackSection
    include ./modules/aboutServiceSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/carousel.js')
  script(src='static/scripts/common.js')
  script.
    new Ant('discount');
    new Ant('feedback');