html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО, автосервис, Мастер, ремонт автомобилей, шиномонтаж')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.service
    .width-container
      .content-card__layout
        .content-card__title
          .skew-flag_left
          img(src="static/img/serviceItem.svg", alt="Иконка услуги")
          span.block-title Диагностика электронных блоков
        .content-card__content    
          div.service-description__layout
            img(src="static/img/service_image.png", alt="").service-description__img
            .service-description__info
              .sub-title Стоимость: от 800
                span.currency ₽
              .divider 
              p.service-description__info__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti saepe impedit voluptatum sapiente consequuntur at deserunt officiis quidem accusantium. Magni natus tenetur sit necessitatibus sapiente deleniti nisi accusamus! Ut, atque!
              div.service-description__info__availability
                span.title Доступна:
                span.address Ветеринарный, 13а
                span.address Правды, 28
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus ad sint velit labore ut explicabo dolores veritatis dicta inventore recusandae consectetur nostrum repellendus doloremque voluptatum ab, culpa iste esse?
          h3.sub-title.text-aligt_center.first-letter_yellow Заголовок блока текста
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus ad sint velit labore ut explicabo dolores veritatis dicta inventore recusandae consectetur nostrum repellendus doloremque voluptatum ab, culpa iste esse? 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus ad sint velit labore ut explicabo dolores veritatis dicta inventore recusandae consectetur nostrum repellendus doloremque voluptatum ab, culpa iste esse?
    include ./modules/infoDividerSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/common.js')