html(lang="ru")
head
  title Master
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.service
    .width-container
      h1 Диагностика электронных блоков
      .service__description
        .service__description__icon
          img(src="static/img/serviceItem.svg", alt="Service icon" style='width: 50%')
        p.service__description__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus, quam interdum elit quis ligula auctor at est. Facilisis facilisis venenatis in cursus platea enim eu. Aliquet integer nibh arcu ullamcorper senectus. Faucibus morbi nullam adipiscing potenti varius. Posuere maecenas congue turpis nisi, gravida id quam arcu.
      .service__availability
        .service__availability__title Доступна:
        .service__availability__offices
          .service__availability__offices_item Ветеринарный, 13а
          .service__availability__offices_item ул. Правды, 28
    img(src="static/img/serviceImage.png", alt="Service image")
    .width-container
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor in vitae amet ultrices. Pretium quam sapien, senectus lorem. Amet aliquet tortor nisl vitae. Eget a at nec nunc suspendisse fermentum. Nunc, a sed sed est eget urna. Ac et et massa commodo pretium, lobortis. Et tristique quam morbi eleifend gravida ut vestibulum. Ante dolor viverra laoreet justo, senectus sed morbi quisque. Amet, tortor at facilisi lobortis nulla. Nibh ullamcorper velit feugiat purus elit. Vitae, elementum interdum tempus, tempus, amet venenatis.
      p At commodo felis et eu pulvinar odio enim donec curabitur. Magna dolor pellentesque diam, auctor. Turpis id volutpat volutpat aliquam iaculis aliquet mattis mi, lorem. Facilisi convallis tincidunt convallis nisl eu auctor amet imperdiet. A viverra feugiat orci tellus blandit nunc rutrum auctor. Sit est, sit tortor enim. Tellus aliquet eget hac tincidunt eget ac porttitor nunc mattis. Imperdiet vulputate diam quam aliquet. Massa facilisi semper nunc eget molestie rutrum risus volutpat elementum. Tincidunt nibh orci congue id.nsectetur. Iaculis feugiat sed orci pretium iaculis urna tempor orci egestas.
  include ./modules/footer
  script(src='static/scripts/common.js')