.car-parts__slogan {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
}

.branch-office__layout {
  display: flex;
  justify-content: space-between;
}

.branch-office__img,
.branch-office__info {
  width: 48%;
}

.branch-office__info__messengers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.branch-office__info__messengers .title {
  font-family: 'Myriad-Bold';
  margin-right: 12px;
}

.branch-office__info__messengers__wrapper img {
  margin-left: 12px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .car-parts-page .content-card__title {
    margin-top: 0;
  }

  .car-parts-page .content-card__content {
    padding-bottom: 40px;
  }

  .car-parts__slogan {
    font-size: 16px;
  }

  .branch-office__layout {
    flex-direction: column;
  }

  .branch-office__img,
  .branch-office__info {
    width: 100%;
  }

  .branch-office__img {
    order: 2;
  }
}

@media screen and (max-width: 575px) {
  .branch-office_layout .full-address {
    display: block;
    text-align: center;
  }

  .branch-office_layout .short-address {
    display: none;
  }

  .branch-office_layout .phones {
    display: none;
  }
}
