.branch-office_layout {
  margin: 20px 0;
}

.branch-office_layout .contact-and-location {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.branch-office_layout .contact-and-location > div {
  flex: 1;
}

.branch-office_layout .full-address {
  display: none;
}

.branch-office_layout .phones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.branch-office_layout .phones > div {
  margin-bottom: 10px;
}

.branch-office_layout .phones > div:last-child {
  margin-bottom: 0;
}

.branch-office_layout .federal-number {
  display: flex;
  align-items: center;
}

.branch-office_layout .messengers-section {
  display: flex;
  align-items: center;
}

.branch-office_layout .messengers-section .messengers {
  margin-right: 12px;
}

.branch-office_layout .text {
  margin-bottom: 20px;
}

.branch-office_layout .image img {
  width: 100%;
  max-width: 954px;
}

.branch-office_layout .map {
  margin-top: 20px;
}

@media screen and (max-width: 575px) {
  .branch-office_layout .full-address {
    display: block;
  }

  .branch-office_layout .address {
    display: none;
  }

  .branch-office_layout .phones {
    display: none;
  }
}
