.width-container {
  position: relative;
  width: 100%;
  min-height: inherit;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

a.link {
  color: unset;
  text-decoration: none;
}

.messengers img {
  margin-left: 10px;
}

.main-title {
  font-weight: bold;
  font-size: 42px;
}

.sub-title {
  font-weight: bold;
  font-size: 30px;
}

.text {
  font-size: 18px;
}

.social-icon {
  width: 40px;
  max-width: 40px;
}

/* Media queries */
@media screen and (max-width: 1023px) {
  .main-title {
    font-size: 30px;
  }

  .sub-title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .social-icon {
    width: 28px;
    max-width: 28px;
  }
}

@media screen and (max-width: 575px) {
  .width-container {
    padding: 0 10px;
  }

  .main-title {
    font-size: 24px;
    text-align: center;
  }

  .sub-title {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }

  .social-icon {
    width: 28px;
    max-width: 28px;
  }
}
