.content-card__layout {
  border-radius: 4px;
  width: 100%;
  box-shadow: 0px 0px 60px #9c9d9e;
  margin-bottom: 120px;
  font-size: 16px;
  color: #3b3b3a;
}

.content-card__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 140px;
}

.content-card__title_right {
  justify-content: flex-end;
}

.content-card__title img {
  width: 79px;
  height: 79px;
  margin-right: 24px;
  z-index: 1;
}

.content-card__title .block-title {
  width: 50%;
  z-index: 1;
}

.content-card__title_right .block-title {
  color: #ffcc00;
  width: unset;
}

.content-card__content {
  padding: 60px;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .content-card__layout {
    box-shadow: none;
  }
}
