.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;
}

.image__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.image__wrapper img {
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .image__wrapper {
    width: 100%;
    padding: 0 0 20px;
  }
}
