footer {
  background-color: #1a1a18;
}

.footer__layout {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__layout .mobile-messengers {
  display: none;
}

.footer__logo {
  max-width: 78px;
  margin-right: 12px;
}

.footer__text {
  color: #ffffff;
  font-size: 24px;
  margin-right: 38px;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .footer__layout {
    height: 88px;
  }

  .footer__logo {
    max-width: 47px;
    margin-right: 12px;
  }

  .footer__text {
    margin-right: unset;
  }

  .footer__layout .messengers {
    display: none;
  }

  .footer__layout .mobile-messengers {
    display: flex;
  }

  .footer__layout .mobile-messengers img {
    width: 40px;
    height: 40px;
    padding-left: 8px;
  }

  .footer__text {
    font-size: 13px;
  }
}
