footer {
  background-color: #1a1a18;
}

.footer__layout {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  max-width: 78px;
  margin-right: 12px;
}

.footer__text {
  color: #ffffff;
  font-size: 24px;
  margin-right: 38px;
}

/* Media queries */
@media screen and (max-width: 1023px) {
}
