header {
  position: sticky;
  top: 0;
  z-index: 10000;
}

nav {
  min-height: 38px;
  background-color: #feca0a;
}

.desktop-header-info {
  min-height: 85px;
  background-color: #231f20;
  color: #ffffff;
}

.header__main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact-block {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header__contact-block:last-child {
  text-align: right;
}

.header__contact-block__phone {
  font-size: 34px;
}

.header__contact-block__address {
  font-size: 16px;
}

.desktop-navbar__layout {
  height: 38px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desktop-navbar__item {
  flex: 1;
  max-width: 180px;
  text-align: center;
  border-right: 1px solid #000000;
  cursor: pointer;
}

.desktop-navbar__item-dropdown {
  position: relative;
}

.desktop-navbar__item-dropdown > span::after {
  content: '';
  position: absolute;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 7px solid #000;
  margin-left: 6px;
  top: 43%;
}

.desktop-navbar__item-dropdown .services {
  display: none;
  position: absolute;
  text-align: left;
  width: max-content;
  padding-top: 15px;
}

.desktop-navbar__item-dropdown .services ul {
  list-style-type: none;
  background-color: #feca0a;
  padding-left: 0;
}

.desktop-navbar__item-dropdown .services li {
  padding: 10 20;
}

.desktop-navbar__item-dropdown .services li:hover {
  background-color: #4f4f4f;
}

.desktop-navbar__item-dropdown .services li:hover a {
  color: #ffffff;
}

.desktop-navbar__item-dropdown:hover .services {
  display: block;
}

.desktop-navbar__item a {
  color: #000000;
  text-decoration: none;
}

.desktop-navbar__item:last-child {
  border-right: none;
}

/* Mobile */

.mobile-header-info {
  display: none;
  min-height: 100px;
  background-color: #231f20;
  color: #ffffff;
}

.mobile-menu {
  display: none;
}

.mobile-menu__layout {
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__layout #menu-toggler {
  cursor: pointer;
}

.mobile-navbar {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #feca0a;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-navbar.active {
  display: block;
}

.mobile-navbar li:hover {
  background-color: #4f4f4f;
  cursor: pointer;
}

.mobile-navbar li > * {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
}

.mobile-navbar li:hover a {
  color: #ffffff;
}

.mobile-header-info .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.mobile-header-info .contacts a {
  text-decoration: none;
  color: #ffffff;
}

/* Media queries */
@media screen and (max-width: 1023px) {
  .desktop-header-info {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-header-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__contact-block__phone {
    font-size: 24px;
  }

  .header__contact-block__address {
    font-size: 14px;
  }

  .mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header__contact-block__phone {
    font-size: 22px;
  }
}

@media screen and (max-width: 575px) {
  .mobile-header-info img {
    width: 100%;
    max-width: 190px;
  }

  .header__contact-block__phone {
    font-size: 20px;
  }

  .header__contact-block__address {
    font-size: 12px;
  }

  .mobile-navbar li > * {
    font-size: 14px;
    padding: 6px 10px;
  }
}
