/* header {
  position: sticky;
  top: 0;
  z-index: 100;
} */

.desktop-header {
  min-height: 190px;
  background-color: #1a1a18;
  color: #ffffff;
}

nav {
  background-color: #ffffff;
}

.header__main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact-block {
  display: flex;
  flex: 1;
  flex-direction: column;
}

img.header__contact-block {
  width: 265px;
}

.header__contact-block .phone a {
  text-decoration: none;
  font-size: 40px;
  font-family: 'Myriad-Bold';
  color: #ffcc00;
}

.header__contact-block .address {
  font-size: 26px;
  font-family: 'Myriad-Semibold';
  color: #ffffff;
}

.header__contact-block:last-child {
  text-align: right;
}

.desktop-menu {
  display: flex;
  align-items: center;
  height: 165px;
}

.desktop-navbar__layout {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.desktop-navbar__item {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
}

.desktop-navbar__item.active {
  background-color: #ffcc00;
}

.desktop-navbar__item-dropdown {
  position: relative;
}

.desktop-navbar__item-dropdown .services {
  display: none;
  position: absolute;
  text-align: left;
  width: max-content;
  box-shadow: 0px 0px 20px #9c9d9e;
  z-index: 2;
}

.desktop-navbar__item-dropdown .services ul {
  list-style-type: none;
  background-color: #ffffff;
  padding-left: 0;
  font-size: 14px;
}

.desktop-navbar__item-dropdown .services li {
  /* padding: 14px; */
  border-bottom: 1px solid #e6e6e6;
  color: #3b3b3a;
}

.desktop-navbar__item-dropdown .services li a {
  display: inline-block;
  padding: 14px;
}

.desktop-navbar__item-dropdown .services li img {
  margin-right: 8px;
}

.desktop-navbar__item-dropdown .services li:hover {
  background-color: #9c9d9e;
}

.desktop-navbar__item-dropdown .services li:hover a {
  color: #ffffff;
}

.desktop-navbar__item-dropdown:hover .services {
  display: block;
}

.desktop-navbar__item a {
  color: #1a1a18;
  text-decoration: none;
}

.desktop-navbar__item:last-child {
  border-right: none;
}

/* Mobile */

.mobile-header {
  display: none;
  min-height: 100px;
  background-color: #231f20;
  color: #ffffff;
}

.mobile-menu {
  display: none;
  background-color: #ffcc00;
}

.mobile-menu__layout {
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
}

.mobile-menu__layout #menu-toggler {
  cursor: pointer;
  margin-right: 12px;
}

.mobile-menu__socials img {
  margin-left: 8px;
  width: 33px;
  height: 33px;
}

.mobile-navbar {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #feca0a;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 35;
}

.mobile-navbar .services {
  display: none;
}

.mobile-navbar .services ul {
  list-style-type: none;
  padding-left: 10px;
}

.mobile-navbar .services.active {
  display: block;
  padding: 0;
}

.mobile-navbar.active {
  display: block;
}

.mobile-navbar li > * {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #1a1a18;
}

.mobile-navbar li > span::after {
  right: 12px;
}

.mobile-header .contacts {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.mobile-header .contacts a {
  text-decoration: none;
  color: #ffffff;
}

/* Media queries */

@media screen and (max-width: 1199px) {
  .desktop-header {
    min-height: 145px;
  }

  .desktop-menu {
    height: 115px;
  }

  .desktop-navbar__item {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .desktop-header {
    min-height: 88px;
  }

  .desktop-menu {
    display: none;
  }

  .header__contact-block .phone a {
    font-size: 18px;
  }

  .header__contact-block .address {
    font-size: 11px;
  }

  img.header__contact-block {
    width: 97px;
  }

  .mobile-menu {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  /* .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  } */

  .mobile-header img {
    width: 100%;
    max-width: 190px;
  }

  .mobile-navbar li > * {
    font-size: 14px;
    padding: 6px 10px;
  }
}
