.info-divider__layout {
  position: relative;
  background-image: url('/static/img/info_divider.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 78px 0;
}

.info-divider__title {
  color: #ffffff;
  padding-bottom: 8px;
  margin: 0 0 32px;
  width: 80%;
}

.info-divider__button {
  display: flex;
  width: 270px;
  height: 63px;
  border-radius: 18px;
  background-color: #ffcc00;
  align-items: center;
  justify-content: center;
}

.info-divider__button-logo {
  width: 60px;
  height: 34px;
}

.info-divider__wheels {
  width: 459px;
  height: 415px;
  position: absolute;
  bottom: -100px;
  right: 0px;
}
