.service-description__layout {
  display: flex;
  justify-content: space-between;
}

.service-description__img,
.service-description__info {
  width: 48%;
}

.service-description__info .currency {
  color: #ffcc00;
}

.service-description__info__availability {
  padding: 30px 0px;
}

.service-description__info__availability .title {
  font-family: 'Myriad-Bold';
  margin-right: 12px;
}

.service-description__info__availability .address {
  margin-right: 12px;
  padding: 8px 24px 8px 12px;
  width: fit-content;
  background: linear-gradient(120deg, #ffcc00 89%, transparent 11%), no-repeat right top / cover;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .service-description__layout {
    flex-direction: column;
  }

  .service-description__img,
  .service-description__info {
    width: 100%;
  }

  .service-description__img {
    order: 2;
  }

  .service-description__info__availability {
    padding: 10px 0px 20px;
  }
}

@media screen and (max-width: 575px) {
  .service-description__info__availability {
    display: flex;
    flex-direction: column;
  }

  .service-description__info__availability > span {
    margin-bottom: 12px;
  }
}
